{% extends "base.html" %} {% block content %}

<!-- upload id verificatio here -->
<section
x-data="form"
  class="h-screen bg-black flex flex-col gap-5 justify-center items-center"
>
  {%include "components/alerts.html"%} {% include "components/nav.html" %}
  {% include "components/loader.html" %} {% include "components/error.html" %}
  <h1 class="text-2xl font-semibold text-main">Verify Your Identity</h1>
  <form
  @submit="UploadPhoto"
    action=""
    class="w-2/5 text-sm max-md:w-11/12 flex flex-col gap-4 p-10 max-md:p-5 mx-auto bg-neutral-950 shadow-sm rounded-md      text-gray-300"
  >
    {% csrf_token %}
    <p>Choose Document Type</p>
    <div
      class="*:p-5 *:rounded-full *:bg-neutral-900 flex flex-wrap text-xs gap-5 *:cursor-pointer button-group"
    >
      <span class="border-main border-2 text-main" @click="changeDocType($el)">Government ID</span>
      <span @click="changeDocType($el)">International Passport</span>
      <span @click="changeDocType($el)">Drivers License</span>
    </div>

    <span class="flex flex-col gap-3 mt-5">
      <label
        for="uploader"
        class="bg-neutral-900 p-5 rounded-md text-xs cursor-pointer flex gap-2 flex-col items-center justify-center"
      >
        <ion-icon
          name="cloud-upload-outline"
          class="text-3xl text-main"
        ></ion-icon>
        Click to upload document
        <span> 200kb (png,jpg) </span>
      </label>
      <input type="file" name="image" accept="image/*" id="uploader" hidden />
    </span>

    <button class="p-5 rounded-full mt-5 bg-main text-black">Verify Identity</button>
  </form>

  <script>
    document.addEventListener("alpine:init", () => {
      let form = new FormData(document.querySelector("form"));
      Alpine.data("form", () => ({
        showLoader: false,
        showError: false,
        errorMessage: "",
        changeDocType(el) {
          let buttons = Array.from(
            document.querySelector(".button-group").children
          );
          console.log(buttons);
          buttons.forEach((button) => {
            if (button.textContent == el.textContent) {
              // debugging happening here hahahahaha
              button.classList.add("border-main", "border-2", "text-main");
            } else {
              button.classList.remove("border-main", "border-2", "text-main");
            }
          });
        },
        UploadPhoto(e){
            e.preventDefault();
            let file=e.target.image.files[0]
            if(e.target.image.files.length ==0){
                this.showError=true
                this.errorMessage="Please upload a verification document"
                return
            }
            if(file.size >200000){
                this.showError=true
                this.errorMessage="File should be less than 200kb"
                return
            }
        }
      }));
    });
  </script>
</section>

{% endblock content%}
