<footer class="bg-sub  w-full text-sm text-gray-300 rounded-tl-3xl">
  <div class="container px-5 py-24 mx-auto flex  md:items-center lg:items-start md:flex-row md:flex-nowrap flex-wrap flex-col">
    <div class="self-center flex flex-col gap-3">
     <div class="flex gap-3 items-center">
       {%include 'components/logo.html'%}
      <p class="text-2xl  font-bold">GT Bulls</p>
     </div>
      <span>Guaranteed and Trusted</span>
      <ion-icon name="mail-unread" class="text-2xl text-main"></ion-icon>

      <!-- social links are here -->

    </div>
    <div class="flex-grow lg:justify-end flex text-base flex-wrap md:pl-20 -mb-10 md:mt-0 mt-10 md:text-left text-center">
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2 class="title-font font-medium text-gray-500 tracking-widest text-sm mb-3">Links</h2>
        <nav class="list-none mb-10 flex flex-col gap-2">
          <li>
            <a href="{%url 'home'%}" class="text-gray-300 hover:text-main">Home</a>
          </li>
          <li>
            <a href="{%url 'sign-up'%}" class="text-gray-300 hover:text-main">Sign Up</a>
          </li>
          <li>
            <a href="{%url 'login'%}" class="text-gray-300 hover:text-main">Login</a>
          </li>

        </nav>
      </div>
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2 class="title-font font-medium text-gray-500 tracking-widest text-sm mb-3">Resources</h2>
        <nav class="list-none mb-10">
          <li>
            <a href="{%url 'about'%}" class="text-gray-300 hover:text-main">About us</a>
          </li>


        </nav>
      </div>
    </div>
  </div>

</footer>
